header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom:1px solid MediumAquamarine;
}

nav {
  margin: 0;
  display: flex;
  color: black;
  padding: 20px;
  }

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

a {
  color: black;
  margin: 5px;
}

h2 {
  display: flex;
  width: 50%;
}
